@import './variables.scss';

html {
  height: 100%;
  width: 100%;
}

html,
body,
body * {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  min-height: calc(100vh - $navbar-height);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, sans-serif;
  letter-spacing: 1px;
  color: $font-color;
}

p {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  color: $font-color;
  font-size: 1.1rem;
  line-height: 1.1;
}