<div *ngIf="loading; else studentTable">
  <h4>Loading your request!</h4>
</div>

<ng-template #studentTable>
  <section class="students-section">
    <h1>Students</h1>
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers ; let i=index" [ngClass]="i === 0 ? 'text-align-left' : undefined">
            <h5>{{ header }}</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td class="text-align-left">
            <span>{{ student.getFullName() }}</span>
          </td>
          <td><span>{{ student.age }}</span></td>
          <td><span class="top-ten-icon" appPulseAnimation>{{ student.isTopTen ? '🏆' : '🙈' }}</span></td>
        </tr>
      </tbody>
    </table>
  </section>
</ng-template>