<mat-toolbar class="navbar">
  <button
    mat-icon-button
    class="menu-button"
    (click)="handleOpenSideNav()"
  >
    <mat-icon class="primary-color">menu</mat-icon>
  </button>
  <h3 class="mat-subtitle-1 navbar-text">
    <span class="accent-color"
      ><span class="salt-3">d</span>i<span class="salt-2">a</span></span
    >
  </h3>
  <div class="btn-container">
    <button
      mat-button
      color="warn"
      type="button"
      (click)="handleLogout()"
    >
      Cerrar sesión
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="app-drawer-wrapper">
  <mat-drawer
    mode="side"
    [opened]="openSideNav"
    class="app-drawer"
  >
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/estudiantes">Estudiantes</a>
      <a routerLink="/cursos">Cursos</a>
      <a routerLink="/inscripciones">Inscripciones</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="app-drawer-content">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
