@import '../../variables.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  border-bottom-right-radius: 5rem;
  padding-inline: $padding-layout;
  background-color: $main-color;
}