@import './assets/styles/custom-theme.scss';

$primary-700: map-get($my-theme, color, primary, 700);
$primary-500: map-get($my-theme, color, primary, 500);
$accent-500: map-get($my-theme, color, accent, 500);
$accent-700: map-get($my-theme, color, accent, 700);

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.primary-color {
  color: $primary-700;
}

.accent-color {
  color: $accent-500;
}

.bg-primary {
  background-color: $primary-500;
}

.card-shape-pink-bg {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: #F6D6CA 0px 0px 0px 2px inset, #f2c4b3 6px -6px 0px -2px,
    #f2c4b3 6px -6px;
}
