<section
  class="container-fluid vh-100 vw-100 d-flex flex-column justify-content-center align-items-center"
>
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
      <label
        for="firstNameInput"
        class="form-label"
        >First Name</label
      >
      <input
        [formControl]="firstNameControl"
        [ngClass]="{
          'is-invalid': firstNameControl.touched && firstNameControl.invalid,
          'is-valid':  firstNameControl.touched && firstNameControl.valid
        }"
        type="text"
        class="form-control"
        id="firstNameInput"
      />
    </div>

    <div class="mb-3">
      <label
        for="lastNameInput"
        class="form-label"
        >Last Name</label
      >
      <input
        [formControl]="lastNameControl"
        [ngClass]="{
          'is-invalid': lastNameControl.touched && lastNameControl.invalid,
          'is-valid':  lastNameControl.touched && lastNameControl.valid
        }"
        type="text"
        class="form-control"
        id="lastNameInput"
      />
    </div>

    <div class="mb-3">
      <label
        for="exampleInputEmail1"
        class="form-label"
        >Email address</label
      >
      <input
        [formControl]="emailControl"
        [ngClass]="{
          'is-invalid': emailControl.touched && emailControl.invalid,
          'is-valid':  emailControl.touched && emailControl.valid
        }"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div
        id="emailHelp"
        class="form-text"
      >
        We'll never share your email with anyone else.
      </div>
    </div>

    <div class="mb-3">
      <label
        for="exampleInputPassword1"
        class="form-label"
        >Password</label
      >
      <input
        [formControl]="passwordControl"
        [ngClass]="{
          'is-invalid': passwordControl.touched && passwordControl.invalid,
          'is-valid':  passwordControl.touched && passwordControl.valid
        }"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 form-check d-flex flex-row justify-content-end align-items-center gap-2">
      <input
        [formControl]="termsAndConditionsControl"
        [ngClass]="{
          'is-invalid': termsAndConditionsControl.touched && termsAndConditionsControl.invalid,
          'is-valid':  termsAndConditionsControl.touched && termsAndConditionsControl.valid
        }"
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label
        class="form-check-label"
        for="exampleCheck1"
        >I accept the terms & conditions</label
      >
    </div>

    <button
      type="submit"
      class="btn btn-primary w-100"
    >
      Submit
    </button>
  </form>
</section>
